@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Merriweather:wght@700&family=Roboto+Slab&display=swap");
/*
font-family: 'Alkatra', cursive;
font-family: 'Merriweather', serif;
font-family: 'Roboto Slab', serif;
*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

header {
  height: 130px;
  padding: 35px;
  background-color: rgb(182, 212, 187);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #f0cdab;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1 {
  font-size: 35px;
  font-family: "Merriweather", serif;
  text-shadow: 3px 3px 5px grey;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

h1 span {
  font-style: italic;
  text-align: center;
}

.LogoHeader {
  width: 120px;
  animation-name: aparecer;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.instagram {
  height: 35px;
  width: auto;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.InstagramTexto {
  font-family: "Merriweather", serif;
  text-decoration: none;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.barra {
  background-color: #f1e7c5;
}

.nav-item {
  font-size: 20px;
}

.MainInicio {
  background-color: #f0cdab;
}

.foto {
  margin-left: 25%;
  margin-right: 25%;
}

#carouselExampleIndicators {
  background-color: black;
}

.TextoInicio {
  background-color: #f1e7c5;
  margin: 40px;
  padding: 20px;
  box-shadow: 3px 3px 3px black;
}

section h2 {
  text-align: center;
  font-family: "Merriweather", serif;
  padding-bottom: 20px;
  text-decoration: underline;
  width: 100%;
}

section p {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Times New Roman", Times;
}

.FooterInicio {
  background-color: rgb(182, 212, 187);
  margin-top: auto;
}

footer h3 {
  text-align: center;
  padding: 30px;
  margin-bottom: 0px;
}

.SectionProductos {
  background-color: #f0cdab;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.ImagenProductos {
  height: 300px;
  width: auto;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 10px;
  transition: transform 1.7s;
}

.ImagenProductos:hover {
  transform: scale(1.2);
}

.InfoTazas {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

article {
  background-color: #f1e7c5;
  border: 2px solid black;
  border-radius: 5px;
}

article p {
  width: 100%;
  background-color: #f1e7c5;
  font-family: "Merriweather", serif;
  text-align: center;
  padding-top: 10px;
}

.ImagenTorno {
  text-align: center;
}

.Torno {
  height: auto;
  width: 80%;
}

.VideoTorno {
  height: 450px;
  margin-top: 20px;
  text-align: center;
}

.SobreMi {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.TituloSobreMi {
  height: 50px;
  width: 100%;
}

.ImgSobreMi {
  height: 300px;
  width: 300px;
  margin-bottom: 15px;
  border: 3px solid black;
  border-radius: 5px;
}

@media only screen and (max-width: 720px) {
  header a {
    display: none;
  }
  header h1 {
    text-align: center;
    font-size: 28px;
  }
  .foto {
    margin-left: 0%;
    margin-right: 0%;
  }
  #carouselExampleIndicators {
    background-color: rgb(0, 0, 0);
  }
  .col-6 {
    max-width: 100%;
  }
  .ImagenProductos {
    height: 300px;
    width: 100%;
  }
  iframe {
    height: 250px;
    width: 80%;
  }
  .SobreMi {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .TextoInicio {
    margin: 0px;
    padding: 10px;
    border-top: 2px solid gray;
  }
  .ImgSobreMi {
    height: 200px;
    width: auto;
    margin-bottom: 15px;
    border: 3px solid black;
    border-radius: 5px;
  }
  .ImagenProductos {
    height: 150px;
    width: 100%;
  }
  .item1 {
    margin-top: 35px;
  }
  .item2 {
    margin-top: 35px;
  }
  textarea {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .ImagenProductos {
    height: 250px;
    width: 100%;
  }
  .item3 {
    height: 200px;
  }
  section h2 {
    font-size: 22px;
    text-align: center;
    font-family: "Merriweather", serif;
    padding-bottom: 20px;
    text-decoration: underline;
    width: 100%;
  }
  section p {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Times New Roman", Times;
  }
  .iframe {
    height: 250px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}/*# sourceMappingURL=estilos.css.map */